@import "tailwindcss";

/* ===== THEME ===== */
@theme {
  --font-sans: "Inter", sans-serif;
}

html, body {
  font-family: var(--font-sans);
}

/* ===== CUSTOM CSS ===== */

.group:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
